html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: white;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#hero_text {
  color: white;
  font-size: 4rem;
  text-align: center;
}

#sub_text {
  text-transform: uppercase;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 50px;
}

#add_container,
#show_container {
  background-color: white;
  width: 300px;
  margin: 0 auto;
  min-height: 50px;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
}

#add_container {
  margin-bottom: 10px;
}

input#name,
input#email {
  margin-bottom: 5px;
}

button#add_user,
button#view_user {
  display: block;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 3px;
}
